 .nsw-docs__content{
 background-color: var(--nsw-palette-grey-04);
 }

 /* Desktop: force search bar to always show */
@media (min-width: 990px) {
  #header-autocomplete {
    display: block !important;
  }
  #header-autocomplete[hidden] {
    display: block !important;
  }
}


 img{
	 max-width:100%;
	 padding: 10px 0px;
	 display: block;
 }
 
.img-inline{
	    display: inline;
		padding:0px 5px;
}



.title-space{
    margin-top: 1rem;
}

.publication-details.full {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-col {
    width: 30%;
    margin-right: 20px;
}

.right-col{
width: 70%;
}

.nav-next-prev {
    padding: 20px 0px;
    border-top: 1px solid #d3d3d3;
    margin-top: 30px;
    display: inline-flex;
    width: 100%;
}

.nav-prev {
    width: 50%;
}

.nav-next {
    width: 50%;
    text-align: right;
}

.nav-next-prev a.nsw-icon-button{
    display: inline-flex;
}

/* Custom highlight for search terms */
mark {
  background-color: #FDE79A; /* NSW yellow */
  padding: 0 2px;
  border-radius: 2px;
  font-weight: bold;
}
 
 @media (min-width: 62rem){
	  .img-small{
	 max-width:50%;
 }
 
  .img-medium{
	 max-width:75%;
 }

 }